.payslipForm {
    /* width: 30rem; */
    width:100%;
    margin: 2rem auto;
    max-width: 80%;
  }
  
  .formControl label,
  .formControl input {
    display: block;
    width: 100%;
  }
  
  .formControl  {
    font: inherit;

    margin-bottom: 1rem;
  }
  
  .formControl input:focus {
    outline: none;
    /* border-color: #ff2058; */
  }

  .new{
    width : 100%;
    background-color: #ff2058;
  }
  .tax{
    text-align: center;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -250px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .taxinfo{
    float:right;
    margin-right: 70px;
  }

  
  